p {
  color: purple;
  font-family: cursive;
}

.popup {
  border-radius: 2%;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}
